/**
 * Main stylesheet
 *
 * @author Joshua Perez (http://joshua-perez.com)
 */

/*********************************************
 * RESETS
 *********************************************/

* {
	margin: 0;
	padding: 0;
}

/*********************************************
 * BASE STYLES
 *********************************************/

html,
body {
	width: 100%;
	height: 100%;
	background-color: #0F0F0F;
	overflow: hidden;
}
